Repository iamJpRowan/obsidian-simple-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ]
}

feat: implement comprehensive tag mapping modal
  devlog/2025-11-09-tag-mapping-modal.md
  src/SettingsTab.ts
  src/TagMappingModal.ts
  src/main.ts
  src/styles.css
Due: eslint --fix, prettier --write

fix: resolve linting errors
  src/EditorExtension.ts
  src/ObserverManager.ts
  src/SettingsTab.ts
  src/TagMappingModal.ts
Due: eslint --fix, prettier --write

fix: apply prettier formatting to fix CI checks
  src/SettingsTab.ts
  src/TagMappingModal.ts
  src/styles.css
Due: eslint --fix, prettier --write

chore: add pre-commit checks to prevent CI failures
  .husky/pre-commit
  package.json
  scripts/pre-commit-check.sh
Due: none

fix: use npx for prettier commands in CI
  package.json
Due: none

fix: use npx for prettier in lint-staged config
  .lintstagedrc.json
Due: none

fix: update package-lock.json to sync with package.json
  package-lock.json
Due: none

Fix cursor jump by placing icon outside editable container
  src/IconRenderer.ts
  src/renderers/FileViewRenderer.ts
  src/styles.css
Due: eslint --fix, prettier --write

Align inline title icon with first line of text
  src/styles.css
Due: prettier --write
